<% content_for :page_title do %>
  <span><%= t :profile %></span>
<% end %>

<%= render "header" %>

<div id="profile-container">

  <% unless notice.nil? %>
    <div class="card-panel deep-purple white-text"><%= notice %></div>
  <% end %>

  <div class="card">
    <div class="card-image">
      <img src="https://picsum.photos/300/300" alt="">
    </div>

    <div class="card-content">
      <span class="card-title"><%= @user.email %></span>

      <p>
        <strong>Created at:</strong>
        <%= @user.created_at %>
      </p>

    </div>
  </div>
</div>
