<% content_for :page_title do %>
  <span><%= t :profile %></span>
<% end %>

<%= render "header" %>

<div id="profile-container">

  <% unless notice.nil? %>
    <div class="card-panel deep-purple white-text"><%= notice %></div>
  <% end %>

  <div class="card">
    <div class="card-image">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar %>
      <% else %>
        <i class="material-icons">account_circle</i>
      <% end %>
    </div>

    <div class="card-content">
      <span class="card-title"><%= @user.name || @user.email %></span>

      <%= link_to_with_locale t("message"), "#", class: "btn waves-effect waves-light" %>

      <p>
        <%= t("profile_rate", rate: @user.rate) %>
      </p>

      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><%= t("about_me_&_contact") %></div>
          <div class="collapsible-body"></div>
        </li>
        <li>
          <div class="collapsible-header"><%= t("expertise") %></div>
          <div class="collapsible-body"></div>
        </li>
        <li>
          <div class="collapsible-header"><%= t("reviews") %></div>
          <div class="collapsible-body"></div>
        </li>
      </ul>

    </div>
  </div>
</div>
