<div id="forgot-password-container">
  <h3 class="advi-logo"><%= link_to_with_locale "ADVI", root_path %></h3>

  <div class="card">
    <div class="card-content">

      <span class="card-title"><%= t('.change_your_password') %></span>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, t('.new_password') %>
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, t('.confirm_new_password') %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <%= f.button type: :submit, class: 'btn waves-effect waves-light' do %>
          <%= t('.change_my_password') %>
          <i class="material-icons">person_add</i>
        <% end %>

      <% end %>
    </div>

    <div class="card-action">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
