<div id="forgot-password-container">
  <h3 class="advi-logo"><%= link_to_with_locale "ADVI", root_path %></h3>

  <div class="card">
    <div class="card-content">

      <span class="card-title"><%= t('.forgot_your_password') %></span>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <%= f.button type: :submit, class: 'btn waves-effect waves-light' do %>
          <%= t('.send_me_reset_password_instructions') %>
          <i class="material-icons">person_add</i>
        <% end %>

      <% end %>
    </div>

    <div class="card-action">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
