<% content_for :page_title do %>
  <span><%= t :find_advisory %></span>
<% end %>

<%= render "header" %>

<div id="home-container">
  <div id="search-container" class="input-field">
    <i class="material-icons">search</i>
    <input 
      id="autocomplete-input" 
      class="autocomplete no-autoinit" 
      type="text"
      placeholder="<%= t :explore %>"
    >
  </div>

  <div id="experience-chips-container">
    <% @query.each do |q| %>
      <div class="chip">
        <%= q %>
        <i class="close material-icons" data-query="<%= q %>">close</i>
      </div>
    <% end %>
  </div>

  <div id="user-container">
    <% @users.each do |user| %>
      <%= link_to user do %>
        <div class="card hoverable black-text">
          <div class="card-image">
            <% if user.avatar.attached? %>
              <%= image_tag url_for(@user.avatar) %>
            <% else %>
              <svg class="avatar-placeholder" viewBox="2 1 12 13">
                <text x="1" y="15">account_circle</text>
              </svg>
            <% end %>

          </div>

          <div class="card-content">
            <span class="card-title"><%= user.email %></span>

            <div class="user-score">
              <i class="material-icons green-text">star</i> <span>4.26 (19) - Col</span>
            </div>

            <% if user.experiences.any? %>
              <div class="user-expertise">
                <%= user.experiences.map(&:title).join ' - ' %>
              </div>
            <% end %>

            <div class="user-time-rate ">
              <span class="time-rate"><%= t("profile_rate", rate: user.rate) %></span>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag :home, 'data-turbolinks-track': 'reload'  %>
